$border_size: 1.2pt;
$hourSize: 16pt;
$hour_width: 30pt;

$weekday_width: 35%;
$saturday_width: 35%;
$sunday_width: 30%;

.table {
  width: inherit;

  border: $border_size solid #000;

  .table_header {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: $border_size solid #000;

    .table_header_hour {
      padding: 0 6pt;
      width: $hour_width;
      font-size: $hourSize;
    }

    .table_header_col_wrap {
      display: flex;

      width: 100%;

      .table_header_col {
        border-left: $border_size solid #000;
        font-size: 15pt;

        .day_name {
          font-weight: bold;
        }

        .day {
          font-size: 11pt;
        }

        &.weekday {
          width: $weekday_width;
        }

        &.saturday {
          width: $saturday_width;
        }

        &.sunday {
          width: $sunday_width;
        }
      }
    }
  }

  .hour_group {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    border-bottom: $border_size solid #000;

    &:last-child {
      border-bottom: unset;
    }

    .hour {
      padding: 0 4pt;
      font-size: $hourSize;
      font-weight: bold;
      width: $hour_width;
    }

    .minutes_group {
      height: fit-content;

      width: 100%;
      display: flex;

      .minutes {
        border-left: $border_size solid #000;

        min-height: 30pt;

        padding: 2pt;

        display: flex;
        flex-wrap: wrap;
        gap: 2pt 0pt;

        align-content: flex-start;

        &:empty {
          gap: unset;
        }

        &.weekday {
          width: $weekday_width;

          &_0 {
            background-color: #efefef;
          }

          &_1 {
            background-color: #dcdcdc;
          }
        }

        &.saturday {
          width: $saturday_width;

          &_0 {
            background-color: #d4ebff;
          }

          &_1 {
            background-color: #bce1ff;
          }
        }

        &.sunday {
          width: $sunday_width;

          &_0 {
            background-color: #ffcee6;
          }

          &_1 {
            background-color: #feb5d8;
          }
        }

        .minute_wrap {
          width: 44pt;

          .minute {
            font-size: 16pt;
            text-align: center;
            font-weight: bold;
          }

          .route_id {
            display: flex;
            justify-content: center;
            margin-top: -4pt;
          }
        }
      }
    }
  }
}
