.timetable {
  .timetable_header {
    padding: 3pt 9pt;

    display: flex;
    justify-content: space-between;

    background-color: #354f9b;

    color: #fff;

    .timetable_header_route_name {
      font-size: 21pt;
    }

    .timetable_header_warning {
      line-height: 260%;
    }
  }
}
